fastapi
uvicorn
pymongo
chromadb
pydantic
pydantic-settings
numpy
scipy
scikit-learn
hdbscan
python-multipart
python-jose
passlib
neo4j
httpx
youtube-transcript-api
edge-tts
google-genai
python-dotenv
